jobs:
  build:
    docker:
      - image: docker:18.09-git
    steps:
      - checkout
      - setup_remote_docker:
          version: 18.06.0-ce
      - run:
          command: |
            wget https://github.com/goodwithtech/dockle/releases/download/v0.2.0/dockle_0.2.0_Linux-64bit.tar.gz
            tar zxvf dockle_0.2.0_Linux-64bit.tar.gz
            mv dockle /usr/local/bin
      - run:
          command: |
            dockle python:3.4-alpine
workflows:
  version: 2
  release:
    jobs:
      - build
